.contenedor {
    width: 100%;
    height: 4em;
    border: 2px solid #333;
    display: flex;
    overflow: hidden;
    margin: 10px;
}
.container-bar
{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
    /* flex-direction: column; */
}
.barra {
    width: 0;
    height: 100%;

    -webkit-animation: progreso 5s linear infinite;
            animation: progreso 5s linear infinite;

    background: #333;
}

.texto {
    font-size: 18px;
    font-weight: bold;
    line-height: 2em;

    width: 12.5em;

    text-align: center;

    color: rgb(73,147,165);

    mix-blend-mode: multiply;
}

.texto:after {
    content: '0%';
    -webkit-animation: porcentaje 5s linear infinite;
            animation: porcentaje 5s linear infinite;
}

@-webkit-keyframes progreso {
    0% {
        width: 0;
    }
    5% {
        width: 5%;
    }
    10% {
        width: 10%;
    }
    25% {
        width: 100%;
    }
}

@keyframes progreso {
    0% {
        width: 0;
    }
    /* 100% {
        width: 50%;
    } */
    5% {
        width: 5%;
    }
    10% {
        width: 10%;
    }
    25% {
        width: 100%;
    }
}

@-webkit-keyframes porcentaje {
    0% {
        content: '0%';
    }
    5% {
        content: '5%';
    }
    10% {
        content: '10%';
    }
    15% {
        content: '15%';
    }
    25% {
        content: '25%';
    }
    /* 50% {
        content: '50%';
    }
    75% {
        content: '75%';
    }
    100% {
        content: '100%';
    } */
}

@keyframes porcentaje {
    0% {
        content: '0%';
    }
    5% {
        content: '5%';
    }
    10% {
        content: '10%';
    }
    15% {
        content: '15%';
    }
    25% {
        content: '25%';
    }
    /* 50% {
        content: '50%';
    }
    75% {
        content: '75%';
    }
    100% {
        content: '100%';
    } */
}