*
{
    /* outline: 1px solid white; */
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}
/* .container
{
    display: flex;
    flex-direction: column;
} */

/*-------------------CLASES COMUNES------------*/
.section
{
    display: flex;
    justify-content: center;
    background:  rgb(73,147,165);
    color: white; 
    padding-top: 20px;
    padding-bottom: 20px;
}

/*---------------------------Sección del Menú---------------------------*/
header
{
    /* background:  rgb(73,147,165); */
    box-sizing: border-box;
    overflow: hidden;
    background: url('../img/header.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}
.header
{
    background:  rgb(73,147,165);
    display: flex;
    justify-content: space-between;
    color: white; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.name
{
    padding-left: 10px;
}
.list-main
{
    list-style: none;
    display: flex;
    justify-content:flex-end;
}
.item{
    padding-right: 10px;
}
.item a{
    text-decoration: none;
    color: white;
}
.about-me
{
    display: flex;
    justify-content:flex-end;
    flex-direction: row;
    padding: 80px;
    margin: 20px;
    color: white;
    
}
.about-me p
{
    background-color:rgba(220,20,60,0.6);
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
}
/* SECCION DE CONTACTAME*/
#contact, #skills
{
    background: url("../img/tile2.png");
}
.form-contact
{
    padding: 50px;
    border: 1px solid white;
    border-radius:10px;
    background-color:#333;
    margin: 20px;
    color: white;
}
.form-contact input
{
    margin-bottom: 15px;
}
.form-container
{
    display: flex;
    justify-content:center;
}
#comentary
{
    height: 50px;
    width: 100%;
}
/* SECCION DE FOOTER*/
footer
{
    display: flex;
    justify-content: center;
    background: rgb(73,147,165);;
   
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
   
}
footer .fa
{
    font-size: 40px;   
    color: white; 
    padding:10px
}

.carousel-slides img{
    width: 100%;
    height: 100%;
}