@media screen and (max-width: 600px) {

    header
    {
    box-sizing: border-box;
    overflow: hidden;
    background: url('../img/bg1.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    }
   .container-bar
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list-main
    {
        display: none;
    }
  }

  @media screen and (max-width: 768px) {

    header
    {
    box-sizing: border-box;
    overflow: hidden;
    background: url('../img/bg1.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    }
   .container-bar
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list-main
    {
        display: none;
    }
  }

  
  @media screen and (max-width: 820px) {

    header
    {
    box-sizing: border-box;
    overflow: hidden;
    background: url('../img/bg1.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
    }
   .container-bar
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .list-main
    {
        display: none;
    }
  }